<h1>Administrador</h1>

<h2>Crear Producto</h2>
<form id="createProduct">
    <table>
        <tr>
            <td><label>Titulo</label></td>
            <td><input name="title" /></td>
        </tr>
        <tr>
            <td><label>Descripcion</label></td>
            <td><input name="description" /></td>
        </tr>
        <tr>
            <td><label>Codigo</label></td>
            <td><input name="code" /></td>
        </tr>
        <tr>
            <td><label>Precio $</label></td>
            <td><input name="price" /></td>
        </tr>
        <tr>
            <td><label>Stock</label></td>
            <td><input name="stock" /></td>
        </tr>
        <tr>
            <td><label>Categoria</label></td>
            <td><input name="category" /></td>
        </tr>
        <tr>
            <td></td>
            <td><input type="submit" /></td>
        </tr>
    </table>
</form>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="/js/administrator.js"></script>