<div>
  <h1>Login</h1>
  <form id="loginForm">
    <label>Email</label>
    <input name="email" />
    <br />
    <label>Contraseña</label>
    <input type="password" name="password" />
    <input type="submit" />
  </form>
  <p>¿No estás registrado? <a href="/register">Regístrate aquí</a></p>
  <div id='spinner' class="spinner-grow text-primary" role="status" style="display: none">
    <span class="visually-hidden">Loading...</span>
  </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="/js/login.js"></script>